.onepagepro-body h1, .onepagepro-body h2, .onepagepro-body h3, .onepagepro-body h4, .onepagepro-body h5, .onepagepro-body h6{ margin-top: 0px; margin-bottom: 20px; line-height: 1.2; font-weight: 700; }
#poststuff .gdlr-core-page-builder-body h2{ padding: 0px; margin-bottom: 20px; line-height: 1.2; font-weight: 700; }
#poststuff .gdlr-core-page-builder-body h1{ padding: 0px; font-weight: 700; }

.gdlr-core-testimonial-item .gdlr-core-testimonial-content{ margin-bottom: 35px; }
.gdlr-core-testimonial-item .gdlr-core-testimonial-title{ font-size: 15px; letter-spacing: 0; text-transform: none; display: inline; }
.gdlr-core-testimonial-item .gdlr-core-testimonial-position{ font-size: 15px; font-style: normal; }

.gdlr-core-side-border-wrap{ position: relative; }

.gdlr-core-title-item .gdlr-core-title-item-side-border{ display: inline-block; width: 40px; vertical-align: middle; margin-bottom: 6px; border-bottom-width: 2px; border-bottom-style: solid; }
.gdlr-core-title-item .gdlr-core-title-item-side-border.gdlr-core-left{ margin-right: 25px; }
.gdlr-core-title-item .gdlr-core-title-item-side-border.gdlr-core-right{ margin-left: 25px; }
.gdlr-core-title-item .gdlr-core-title-item-side-border.gdlr-core-bottom-right{ position: absolute; bottom: -18px; right: 0px; width: 75px; }
.gdlr-core-title-item-caption-right .gdlr-core-title-item-link{ margin-top: 17px; }

.gdlr-core-block-item-title-wrap .gdlr-core-block-item-title{ font-weight: 800; text-transform: none; letter-spacing: 0; }
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-title-side-border{ display: inline-block; width: 30px; vertical-align: middle; margin-bottom: 6px; border-bottom-width: 2px; border-bottom-style: solid; }
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-title-side-border.gdlr-core-left{ margin-right: 25px; }
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-title-side-border.gdlr-core-right{ margin-left: 25px; }
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-caption{ letter-spacing: 0px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-top .gdlr-core-block-item-caption{ margin-bottom: 6px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-top .gdlr-core-block-item-read-more-wrap{ margin-top: 8px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-right .gdlr-core-block-item-caption{ margin-top: 0px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-right .gdlr-core-block-item-read-more-wrap{ margin-top: 17px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-right .gdlr-core-block-item-title{ float: left; margin-right: 30px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-right .gdlr-core-block-item-caption{ overflow: hidden; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-right.gdlr-core-with-nav .gdlr-core-block-item-caption{ padding-right: 160px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-bottom .gdlr-core-block-item-caption{ margin-top: 6px; margin-bottom: 0px; }
.gdlr-core-block-item-title-wrap.gdlr-core-caption-bottom .gdlr-core-block-item-read-more-wrap{ margin-top: 8px; }

.gdlr-core-testimonial-item-title-wrap .gdlr-core-title-item-side-border{ display: inline-block; width: 40px; vertical-align: middle; margin-bottom: 6px; border-bottom-width: 2px; border-bottom-style: solid; }
.gdlr-core-testimonial-item-title-wrap .gdlr-core-title-item-side-border.gdlr-core-left{ margin-right: 25px; }
.gdlr-core-testimonial-item-title-wrap .gdlr-core-title-item-side-border.gdlr-core-right{ margin-left: 25px; }

.gdlr-core-load-more-wrap .gdlr-core-load-more{ font-size: 16px; font-weight: bold; text-transform: none; letter-spacing: 0px; border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }

.gdlr-core-blog-info-wrapper .gdlr-core-blog-info{ font-size: 16px; text-transform: none; letter-spacing: 0px; font-weight: 400; }
.gdlr-core-blog-info-wrapper .gdlr-core-head{ vertical-align: baseline; }
.gdlr-core-blog-info-wrapper .gdlr-core-head i{ font-size: 16px; }
.gdlr-core-blog-grid .gdlr-core-blog-info-wrapper{ padding-top: 0px; border: none; margin-bottom: 22px; }
.gdlr-core-blog-grid .gdlr-core-blog-title{ margin-bottom: 15px; }
.gdlr-core-blog-grid .gdlr-core-blog-content{ margin-bottom: 0px; }
.gdlr-core-blog-grid .gdlr-core-blog-divider{ margin-top: 33px; border-bottom-width: 2px; border-bottom-style: solid; }

.gdlr-core-portfolio-grid .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info{ font-size: 15px; }
.gdlr-core-portfolio-grid .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-title{ margin-bottom: 8px; }
.gdlr-core-portfolio-grid .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-content{ padding-top: 11px; }
.gdlr-core-portfolio-grid.gdlr-core-style-with-frame .gdlr-core-portfolio-content-wrap{ padding: 40px 40px 30px; position: relative; }

.gdlr-core-recent-portfolio-widget{ margin-right: 14px; margin-bottom: 14px; }

.onepagepro-footer-wrapper{ font-size: 15px; }
.onepagepro-footer-wrapper .onepagepro-widget-title{ font-size: 17px; text-transform: none; letter-spacing: 0px; }
.onepagepro-footer-wrapper .gdlr-core-recent-portfolio-widget{ max-width: 75px; }
.onepagepro-footer-wrapper .gdlr-core-recent-post-widget .gdlr-core-recent-post-widget-thumbnail{ overflow: hidden; max-width: 50px; 
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.onepagepro-footer-wrapper .gdlr-core-recent-post-widget .gdlr-core-recent-post-widget-title{ font-size: 15px; font-weight: bold; margin-bottom:5px; } 
.onepagepro-footer-wrapper .gdlr-core-recent-post-widget .gdlr-core-blog-info-author{ display: none; }
.onepagepro-footer-wrapper .gdlr-core-recent-post-widget .gdlr-core-blog-info{ font-size: 16px; text-transform: none; }

.gdlr-core-image-overlay.gdlr-core-round-icon .gdlr-core-image-overlay-icon.gdlr-core-size-22{ margin-left: -36px; margin-top: -36px; width: 40px; font-size: 19px; line-height: 40px; }

.wpcf7 textarea{ height: 140px; }
body .gdlr-core-bottom-border .wpcf7-form-control{  margin-bottom: 22px !important; }
body .gdlr-core-input-wrap .wpcf7-submit.gdlr-core-large{ padding: 19px 31px; min-width: 100px; font-size: 14px; }

body.onepagepro-boxed .onepagepro-body-wrapper{ margin-top: 0px; margin-bottom: 0px; } 
.onepagepro-body-wrapper.onepagepro-with-frame, body.onepagepro-full .onepagepro-fixed-footer{ margin: 0px; } 
.onepagepro-body-background{ opacity: 1; } 
body.onepagepro-background-pattern .onepagepro-body-outer-wrapper{ background-image: url(https://demo.goodlayers.com/onepagepro/wp-content/plugins/goodlayers-core/include/images/pattern/pattern-1.png); } 
.onepagepro-item-pdlr, .gdlr-core-item-pdlr{ padding-left: 20px; padding-right: 20px; }.onepagepro-item-rvpdlr, .gdlr-core-item-rvpdlr{ margin-left: -20px; margin-right: -20px; }.gdlr-core-metro-rvpdlr{ margin-top: -20px; margin-right: -20px; margin-bottom: -20px; margin-left: -20px; }.onepagepro-item-mglr, .gdlr-core-item-mglr, .onepagepro-navigation .sf-menu > .onepagepro-mega-menu .sf-mega{ margin-left: 20px; margin-right: 20px; } 
.onepagepro-container, .gdlr-core-container, body.onepagepro-boxed .onepagepro-body-wrapper, body.onepagepro-boxed .onepagepro-fixed-footer .onepagepro-footer-wrapper, body.onepagepro-boxed .onepagepro-fixed-footer .onepagepro-copyright-wrapper{ max-width: 1240px; } 
.onepagepro-body-front .gdlr-core-container, .onepagepro-body-front .onepagepro-container{ padding-left: 35px; padding-right: 35px; }.onepagepro-body-front .onepagepro-container .onepagepro-container, .onepagepro-body-front .onepagepro-container .gdlr-core-container, .onepagepro-body-front .gdlr-core-container .gdlr-core-container{ padding-left: 0px; padding-right: 0px; } 
.onepagepro-top-notice-bar-inner{ padding-top: 20px; } 
.onepagepro-top-notice-bar-inner{ padding-bottom: 20px; } 
.onepagepro-top-notice-bar-inner{ padding-left: 30px; padding-right: 30px; } 
.onepagepro-top-bar-container.onepagepro-top-bar-custom-container{ max-width: 1140px; } 
.onepagepro-top-bar-container.onepagepro-top-bar-full{ padding-right: 15px; padding-left: 15px; } 
.onepagepro-top-bar{ padding-top: 10px; } 
.onepagepro-top-bar{ padding-bottom: 10px; } 
.onepagepro-top-bar{ font-size: 15px; } 
.onepagepro-top-bar{ border-bottom-width: 0px; } 
.onepagepro-header-style-plain{ border-bottom-width: 0px; } 
.onepagepro-header-background-transparent .onepagepro-top-bar-background{ opacity: 0.5; } 
.onepagepro-header-background-transparent .onepagepro-header-background{ opacity: 0; } 
.onepagepro-navigation-bar-wrap.onepagepro-style-transparent .onepagepro-navigation-background{ opacity: 0.5; } 
.onepagepro-header-boxed-wrap .onepagepro-top-bar-background{ opacity: 0; } 
.onepagepro-header-boxed-wrap .onepagepro-top-bar-background{ margin-bottom: -0px; } 
.onepagepro-header-style-boxed{ margin-top: 0px; } 
.onepagepro-header-container.onepagepro-header-custom-container{ max-width: 1140px; } 
.onepagepro-header-container.onepagepro-header-full{ padding-right: 30px; padding-left: 30px; } 
.onepagepro-header-boxed-wrap .onepagepro-header-background{ border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; } 
.onepagepro-header-style-boxed .onepagepro-header-container-item{ padding-left: 30px; padding-right: 30px; }.onepagepro-navigation-right{ right: 30px; } .onepagepro-navigation-left{ left: 30px; } 
.onepagepro-header-style-plain.onepagepro-style-splitted-menu .onepagepro-navigation .sf-menu > li > a{ padding-top: 0px; } .onepagepro-header-style-plain.onepagepro-style-splitted-menu .onepagepro-main-menu-left-wrap,.onepagepro-header-style-plain.onepagepro-style-splitted-menu .onepagepro-main-menu-right-wrap{ padding-top: 0px; } 
.onepagepro-header-style-boxed.onepagepro-style-splitted-menu .onepagepro-navigation .sf-menu > li > a{ padding-top: 0px; } .onepagepro-header-style-boxed.onepagepro-style-splitted-menu .onepagepro-main-menu-left-wrap,.onepagepro-header-style-boxed.onepagepro-style-splitted-menu .onepagepro-main-menu-right-wrap{ padding-top: 0px; } 
.onepagepro-navigation .sf-menu > li{ padding-left: 22px; padding-right: 22px; } 
.onepagepro-header-side-nav{ width: 305px; }.onepagepro-header-side-content.onepagepro-style-left .gdlr-core-pbf-wrapper,.onepagepro-header-side-content.onepagepro-style-left .gdlr-core-pbf-section,.onepagepro-header-side-content.onepagepro-style-left .onepagepro-outer-content-wrap, .onepagepro-header-side-content.onepagepro-style-left .onepagepro-bototm-page-builder-outer-content-wrap, .onepagepro-header-side-content.onepagepro-style-left .gdlr-core-outer-content-wrap, .onepagepro-header-side-content.onepagepro-style-left .gdlr-core-portfolio-single-related, .onepagepro-header-side-content.onepagepro-style-left .onepagepro-footer-wrapper, .onepagepro-header-side-content.onepagepro-style-left .onepagepro-copyright-wrapper{ padding-left: 305px !important; }.onepagepro-header-side-content.onepagepro-style-left .gdlr-core-portfolio-single-nav-wrap, .onepagepro-header-side-content.onepagepro-style-left .onepagepro-blog-title-wrap, .onepagepro-header-side-content.onepagepro-style-left .onepagepro-page-title-wrap{ margin-left: 305px !important; } .onepagepro-header-side-content.onepagepro-style-right .gdlr-core-pbf-wrapper,.onepagepro-header-side-content.onepagepro-style-right .gdlr-core-pbf-section,.onepagepro-header-side-content.onepagepro-style-right .onepagepro-outer-content-wrap, .onepagepro-header-side-content.onepagepro-style-right .onepagepro-bototm-page-builder-outer-content-wrap, .onepagepro-header-side-content.onepagepro-style-right .gdlr-core-outer-content-wrap, .onepagepro-header-side-content.onepagepro-style-right .gdlr-core-portfolio-single-related, .onepagepro-header-side-content.onepagepro-style-right .onepagepro-footer-wrapper, .onepagepro-header-side-content.onepagepro-style-right .onepagepro-copyright-wrapper{ padding-right: 305px !important; }.onepagepro-header-side-content.onepagepro-style-right .gdlr-core-portfolio-single-nav-wrap, .onepagepro-header-side-content.onepagepro-style-right .onepagepro-blog-title-wrap, .onepagepro-header-side-content.onepagepro-style-right .onepagepro-page-title-wrap{ margin-right: 305px !important; }  
.onepagepro-header-side-nav.onepagepro-style-side{ padding-left: 70px; padding-right: 70px; }.onepagepro-header-side-nav.onepagepro-style-left .sf-vertical > li > ul.sub-menu{ padding-left: 70px; }.onepagepro-header-side-nav.onepagepro-style-right .sf-vertical > li > ul.sub-menu{ padding-right: 70px; } 
.onepagepro-style-side .onepagepro-header-side-nav-background{ opacity: 0.45; } 
 .onepagepro-navigation .sf-vertical > li{ padding-top: 16px; padding-bottom: 16px; } 
.onepagepro-header-style-bar .onepagepro-logo-right-text{ padding-top: 30px; } 
.onepagepro-logo{ padding-top: 116px; } 
.onepagepro-logo{ padding-bottom: 9px; } 
.onepagepro-logo-inner{ max-width: 248px; } 
.onepagepro-navigation{ padding-top: 36px; }.onepagepro-navigation-top{ top: 36px; } 
.onepagepro-navigation .sf-menu > li > a{ padding-bottom: 30px; } 
.onepagepro-navigation .onepagepro-main-menu{ padding-right: 0px; } 
.onepagepro-animate-fixed-navigation.onepagepro-header-style-plain .onepagepro-logo, .onepagepro-animate-fixed-navigation.onepagepro-header-style-boxed .onepagepro-logo{ padding-top: 20px; } 
.onepagepro-animate-fixed-navigation.onepagepro-header-style-plain .onepagepro-logo, .onepagepro-animate-fixed-navigation.onepagepro-header-style-boxed .onepagepro-logo{ padding-bottom: 20px; } 
.onepagepro-animate-fixed-navigation.onepagepro-header-style-plain .onepagepro-navigation, .onepagepro-animate-fixed-navigation.onepagepro-header-style-boxed .onepagepro-navigation{ padding-top: 30px; }.onepagepro-animate-fixed-navigation.onepagepro-header-style-plain .onepagepro-navigation-top, .onepagepro-animate-fixed-navigation.onepagepro-header-style-boxed .onepagepro-navigation-top{ top: 30px; } 
.onepagepro-animate-fixed-navigation.onepagepro-header-style-plain .onepagepro-navigation .sf-menu > li > a, .onepagepro-animate-fixed-navigation.onepagepro-header-style-boxed .onepagepro-navigation .sf-menu > li > a{ padding-bottom: 25px; }.onepagepro-animate-fixed-navigation.onepagepro-header-style-plain .onepagepro-main-menu-right-wrap:first-child,.onepagepro-animate-fixed-navigation.onepagepro-header-style-boxed .onepagepro-main-menu-right-wrap:first-child{ padding-bottom: 25px; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-title-content{ padding-top: 93px; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-title-content{ padding-bottom: 87px; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-caption{ margin-top: 13px; } 
.onepagepro-page-title-wrap .onepagepro-page-title{ text-transform: uppercase; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-title{ font-size: 37px; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-title{ letter-spacing: 0px; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-caption{ font-size: 16px; } 
.onepagepro-page-title-wrap.onepagepro-style-custom .onepagepro-page-caption{ letter-spacing: 0px; } 
.onepagepro-page-title-wrap .onepagepro-page-title-overlay{ opacity: 0.2; } 
.onepagepro-page-title-wrap{ background-image: url(http://demo.goodlayers.com/onepagepro/wp-content/uploads/2017/05/landind-demo-bg.jpg); } 
body.single-portfolio .onepagepro-page-title-wrap{ background-image: url(http://demo.goodlayers.com/onepagepro/wp-content/uploads/2016/05/landing-bg-2.jpg); } 
.onepagepro-not-found-wrap .onepagepro-not-found-background{ opacity: 0.29; } 
.onepagepro-blog-title-wrap.onepagepro-style-custom .onepagepro-blog-title-content{ padding-top: 93px; } 
.onepagepro-blog-title-wrap.onepagepro-style-custom .onepagepro-blog-title-content{ padding-bottom: 87px; } 
.onepagepro-blog-title-wrap{ background-image: url(http://demo.goodlayers.com/onepagepro/wp-content/uploads/2017/05/landing-header-bg.jpg); } 
.onepagepro-blog-title-wrap .onepagepro-blog-title-overlay{ opacity: 0.09; } 
body.single-post .onepagepro-sidebar-style-none, body.blog .onepagepro-sidebar-style-none{ max-width: 900px; } 
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-icon{ font-size: 22px; } 
.onepagepro-footer-background{ opacity: 1; } 
.onepagepro-footer-wrapper{ padding-top: 70px; } 
.onepagepro-footer-wrapper{ padding-bottom: 50px; } 
.onepagepro-copyright-container{ padding-top: 38px; } 
.onepagepro-copyright-container{ padding-bottom: 38px; } 
.onepagepro-copyright-container{ letter-spacing: 2px; } 
.onepagepro-copyright-container{ text-transform: uppercase; } 
.onepagepro-body h1, .onepagepro-body h2, .onepagepro-body h3, .onepagepro-body h4, .onepagepro-body h5, .onepagepro-body h6, .onepagepro-body .onepagepro-title-font,.onepagepro-body .gdlr-core-title-font{ font-family: "Montserrat", sans-serif; }.woocommerce-breadcrumb, .woocommerce span.onsale, .single-product.woocommerce div.product p.price .woocommerce-Price-amount, .single-product.woocommerce #review_form #respond label{ font-family: "Montserrat", sans-serif; } 
.onepagepro-navigation .sf-menu > li > a, .onepagepro-navigation .sf-vertical > li > a, .onepagepro-navigation-font{ font-family: "Montserrat", sans-serif; } 
.onepagepro-body, .onepagepro-body .gdlr-core-content-font, .onepagepro-body input, .onepagepro-body textarea, .onepagepro-body button, .onepagepro-body select, .onepagepro-body .onepagepro-content-font, .gdlr-core-audio .mejs-container *{ font-family: "Source Sans Pro", sans-serif; } 
.onepagepro-body .gdlr-core-info-font, .onepagepro-body .onepagepro-info-font{ font-family: "Droid Serif", serif; } 
.onepagepro-body .gdlr-core-blog-info-font, .onepagepro-body .onepagepro-blog-info-font{ font-family: "Open Sans", sans-serif; } 
.onepagepro-body .gdlr-core-quote-font{ font-family: "Droid Serif", serif; } 
.onepagepro-body h1{ font-size: 52px; } 
.onepagepro-body h2, #poststuff .gdlr-core-page-builder-body h2{ font-size: 48px; } 
.onepagepro-body h3{ font-size: 36px; } 
.onepagepro-body h4{ font-size: 28px; } 
.onepagepro-body h5{ font-size: 22px; } 
.onepagepro-body h6{ font-size: 18px; } 
.onepagepro-navigation .sf-menu > li > a, .onepagepro-navigation .sf-vertical > li > a{ font-size: 14px; } 
.onepagepro-navigation .sf-menu > li > a, .onepagepro-navigation .sf-vertical > li > a{ font-weight: 700; } 
.onepagepro-navigation .sf-menu > li > a, .onepagepro-navigation .sf-vertical > li > a{ text-transform: uppercase; } 
.onepagepro-body{ font-size: 16px; } 
.onepagepro-body, .onepagepro-body p, .onepagepro-line-height, .gdlr-core-line-height{ line-height: 1.7; } 
.onepagepro-page-preload{ background-color: #ffffff; } 
.onepagepro-top-bar-background{ background-color: #222222; } 
.onepagepro-body .onepagepro-top-bar{ border-bottom-color: #ffffff; } 
.onepagepro-top-bar{ color: #ffffff; } 
.onepagepro-body .onepagepro-top-bar a{ color: #ffffff; } 
.onepagepro-body .onepagepro-top-bar a:hover{ color: #ffffff; } 
.onepagepro-top-bar .onepagepro-top-bar-right-social a, .onepagepro-header-side-nav .onepagepro-header-social a{ color: #ffffff; } 
.onepagepro-top-bar .onepagepro-top-bar-right-social a:hover, .onepagepro-header-side-nav .onepagepro-header-social a:hover{ color: #e44444; } 
.onepagepro-header-background, .onepagepro-sticky-menu-placeholder, .onepagepro-header-style-boxed.onepagepro-fixed-navigation{ background-color: #282828; } 
.onepagepro-header-wrap.onepagepro-header-style-plain{ border-color: #e8e8e8; } 
.onepagepro-navigation-background{ background-color: #f7f7f7; } 
.onepagepro-navigation-bar-wrap{ border-color: #e8e8e8; } 
.onepagepro-navigation .onepagepro-navigation-slide-bar{ border-color: #2d9bea; }.onepagepro-navigation .onepagepro-navigation-slide-bar:before{ border-bottom-color: #2d9bea; } 
.onepagepro-header-side-nav.onepagepro-style-side-toggle .onepagepro-logo{ background-color: #ffffff; } 
.onepagepro-main-menu-search i, .onepagepro-main-menu-cart i{ color: #383838; } 
.onepagepro-main-menu-cart > .onepagepro-top-cart-count{ background-color: #bd584e; } 
.onepagepro-main-menu-cart > .onepagepro-top-cart-count{ color: #ffffff; } 
.onepagepro-top-menu-button i, .onepagepro-mobile-menu-button i{ color: #ffffff; }.onepagepro-mobile-button-hamburger:before, .onepagepro-mobile-button-hamburger:after, .onepagepro-mobile-button-hamburger span{ background: #ffffff; } 
.onepagepro-main-menu-right .onepagepro-top-menu-button, .onepagepro-mobile-menu .onepagepro-mobile-menu-button{ border-color: #dddddd; } 
.onepagepro-top-search-wrap{ background-color: #000000; background-color: rgba(0, 0, 0, 0.88); } 
.onepagepro-top-cart-content-wrap .onepagepro-top-cart-content{ background-color: #303030; } 
.onepagepro-top-cart-content-wrap .onepagepro-top-cart-content span, .onepagepro-top-cart-content-wrap .onepagepro-top-cart-content span.woocommerce-Price-amount.amount{ color: #b5b5b5; } 
.onepagepro-top-cart-content-wrap .onepagepro-top-cart-button,.onepagepro-top-cart-content-wrap .onepagepro-top-cart-button:hover{ color: #ffffff; } 
.onepagepro-top-cart-content-wrap .onepagepro-top-cart-checkout-button, .onepagepro-top-cart-content-wrap .onepagepro-top-cart-checkout-button:hover{ color: #bd584e; } 
.onepagepro-body .onepagepro-breadcrumbs, .onepagepro-body .onepagepro-breadcrumbs a span{ color: #c0c0c0; } 
.onepagepro-body .onepagepro-breadcrumbs span, .onepagepro-body .onepagepro-breadcrumbs a:hover span{ color: #777777; } 
.sf-menu > li > a, .sf-vertical > li > a{ color: #ffffff; } 
.sf-menu > li > a:hover, .sf-menu > li.current-menu-item > a, .sf-menu > li.current-menu-ancestor > a, .sf-vertical > li > a:hover, .sf-vertical > li.current-menu-item > a, .sf-vertical > li.current-menu-ancestor > a{ color: #cecece; } 
.sf-menu > .onepagepro-normal-menu li, .sf-menu > .onepagepro-mega-menu > .sf-mega, .sf-vertical ul.sub-menu li, ul.sf-menu > .menu-item-language li{ background-color: #282828; } 
.sf-menu > li > .sub-menu a, .sf-menu > .onepagepro-mega-menu > .sf-mega a, .sf-vertical ul.sub-menu li a{ color: #bebebe; } 
.sf-menu > li > .sub-menu a:hover, .sf-menu > li > .sub-menu .current-menu-item > a, .sf-menu > li > .sub-menu .current-menu-ancestor > a, .sf-menu > .onepagepro-mega-menu > .sf-mega a:hover, .sf-menu > .onepagepro-mega-menu > .sf-mega .current-menu-item > a, .sf-vertical > li > .sub-menu a:hover, .sf-vertical > li > .sub-menu .current-menu-item > a, .sf-vertical > li > .sub-menu .current-menu-ancestor > a{ color: #ffffff; } 
.sf-menu > li > .sub-menu a:hover, .sf-menu > li > .sub-menu .current-menu-item > a, .sf-menu > li > .sub-menu .current-menu-ancestor > a, .sf-menu > .onepagepro-mega-menu > .sf-mega a:hover, .sf-menu > .onepagepro-mega-menu > .sf-mega .current-menu-item > a, .sf-vertical > li > .sub-menu a:hover, .sf-vertical > li > .sub-menu .current-menu-item > a, .sf-vertical > li > .sub-menu .current-menu-ancestor > a{ background-color: #313131; } 
.onepagepro-navigation .sf-menu > .onepagepro-mega-menu .sf-mega-section-inner > a{ color: #ffffff; } 
.onepagepro-navigation .sf-menu > .onepagepro-mega-menu .sf-mega-section{ border-color: #282828; } 
.mm-navbar .mm-title, .mm-navbar .mm-btn, ul.mm-listview li > a, ul.mm-listview li > span{ color: #979797; }ul.mm-listview li a{ border-color: #979797; }.mm-arrow:after, .mm-next:after, .mm-prev:before{ border-color: #979797; } 
.mm-navbar .mm-title:hover, .mm-navbar .mm-btn:hover, ul.mm-listview li a:hover, ul.mm-listview li > span:hover, ul.mm-listview li.current-menu-item > a, ul.mm-listview li.current-menu-ancestor > a, ul.mm-listview li.current-menu-ancestor > span{ color: #ffffff; } 
.mm-menu{ background-color: #1f1f1f; } 
ul.mm-listview li{ border-color: #626262; } 
.onepagepro-overlay-menu-content{ background-color: #000000; background-color: rgba(0, 0, 0, 0.88); } 
.onepagepro-overlay-menu-content ul.menu > li, .onepagepro-overlay-menu-content ul.sub-menu ul.sub-menu{ border-color: #424242; } 
.onepagepro-overlay-menu-content ul li a, .onepagepro-overlay-menu-content .onepagepro-overlay-menu-close{ color: #ffffff; } 
.onepagepro-overlay-menu-content ul li a:hover{ color: #a8a8a8; } 
.onepagepro-bullet-anchor a:before{ background-color: #777777; } 
.onepagepro-bullet-anchor a:hover, .onepagepro-bullet-anchor a.current-menu-item{ border-color: #ffffff; }.onepagepro-bullet-anchor a:hover:before, .onepagepro-bullet-anchor a.current-menu-item:before{ background: #ffffff; } 
.onepagepro-body .onepagepro-main-menu-right-button{ color: #333333; } 
.onepagepro-body .onepagepro-main-menu-right-button{ border-color: #333333; } 
.onepagepro-body .onepagepro-main-menu-right-button:hover{ color: #555555; } 
.onepagepro-body .onepagepro-main-menu-right-button:hover{ border-color: #555555; } 
.onepagepro-body-outer-wrapper{ background-color: #ffffff; } 
body.onepagepro-boxed .onepagepro-body-wrapper, .gdlr-core-page-builder .gdlr-core-page-builder-body.gdlr-core-pb-livemode{ background-color: #ffffff; } 
.onepagepro-page-title-wrap .onepagepro-page-title{ color: #ffffff; } 
.onepagepro-page-title-wrap .onepagepro-page-caption{ color: #ffffff; }.onepagepro-page-title-wrap .onepagepro-page-caption .woocommerce-breadcrumb, .onepagepro-page-title-wrap .onepagepro-page-caption .woocommerce-breadcrumb a{ color: #ffffff; } 
.onepagepro-page-title-wrap .onepagepro-page-title-overlay{ background-color: #2d2d2d; } 
.onepagepro-body, .onepagepro-body span.wpcf7-not-valid-tip{ color: #9b9b9b; } 
.onepagepro-body h1, .onepagepro-body h2, .onepagepro-body h3, .onepagepro-body h4, .onepagepro-body h5, .onepagepro-body h6{ color: #383838; }.woocommerce table.shop_attributes th, .woocommerce table.shop_table th, .single-product.woocommerce div.product .product_meta .onepagepro-head{ color: #383838; } 
.onepagepro-body a{ color: #545454; } 
.onepagepro-body a:hover{ color: #333333; } 
.onepagepro-body *{ border-color: #e2e2e2; }.gdlr-core-columnize-item .gdlr-core-columnize-item-content{ column-rule-color: #e2e2e2; -moz-column-rule-color: #e2e2e2; -webkit-column-rule-color: #e2e2e2; } 
.onepagepro-body input, .onepagepro-body textarea{ background-color: #ffffff; } 
.onepagepro-body input, .onepagepro-body textarea{ border-color: #d7d7d7; } 
.onepagepro-body input, .onepagepro-body textarea{ color: #4e4e4e; } 
.onepagepro-body ::-webkit-input-placeholder{  color: #4e4e4e; }.onepagepro-body ::-moz-placeholder{  color: #4e4e4e; }.onepagepro-body :-ms-input-placeholder{  color: #4e4e4e; }.onepagepro-body :-moz-placeholder{  color: #4e4e4e; } 
.onepagepro-not-found-wrap{ background-color: #23618e; } 
.onepagepro-not-found-wrap .onepagepro-not-found-head{ color: #ffffff; } 
.onepagepro-not-found-wrap .onepagepro-not-found-title{ color: #ffffff; } 
.onepagepro-not-found-wrap .onepagepro-not-found-caption{ color: #c3e7ff; } 
.onepagepro-not-found-wrap form.search-form input.search-field{ background-color: #000000; background-color: rgba(0, 0, 0, 0.4) } 
.onepagepro-not-found-wrap form.search-form input.search-field, .onepagepro-not-found-wrap .onepagepro-top-search-submit{ color: #ffffff; } .onepagepro-not-found-wrap input::-webkit-input-placeholder { color: #ffffff; } .onepagepro-not-found-wrap input:-moz-placeholder{ color: #ffffff; } .onepagepro-not-found-wrap input::-moz-placeholder{ color: #ffffff; } .onepagepro-not-found-wrap input:-ms-input-placeholder{ color: #ffffff; } 
.onepagepro-not-found-wrap .onepagepro-not-found-back-to-home a, .onepagepro-not-found-wrap .onepagepro-not-found-back-to-home a:hover{ color: #ffffff; } 
.onepagepro-sidebar-area .onepagepro-widget-title{ color: #383838; } 
.onepagepro-sidebar-area a{ color: #484848; }.widget_recent_entries ul li:before, .widget_recent_comments ul li:before, .widget_pages ul li:before, .widget_rss ul li:before, .widget_archive ul li:before, .widget_categories ul li:before, .widget_nav_menu ul li:before, .widget_meta ul li:before{ color: #484848; } 
.onepagepro-sidebar-area a:hover, .onepagepro-sidebar-area .current-menu-item > a{ color: #323232; } 
.gdlr-core-recent-post-widget .gdlr-core-blog-info i{ color: #9c9c9c; } 
.gdlr-core-recent-post-widget .gdlr-core-blog-info, .gdlr-core-recent-post-widget .gdlr-core-blog-info a, .gdlr-core-recent-post-widget .gdlr-core-blog-info a:hover{ color: #a0a0a0; } 
.gdlr-core-post-slider-widget-overlay .gdlr-core-post-slider-widget-title{ color: #ffffff; } 
.gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info, .gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info i, .gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info a, .gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info a:hover{ color: #9c9c9c; } 
.widget_search input.search-field{ color: #b5b5b5; }.widget_search input::-webkit-input-placeholder { color: #b5b5b5; }.widget_search input:-moz-placeholder{ color: #b5b5b5; }.widget_search input::-moz-placeholder{ color: #b5b5b5; }.widget_search input:-ms-input-placeholder{ color: #b5b5b5; } 
.widget_search input.search-field{ border-color: #e0e0e0; } 
.widget_search form:after{ border-color: #c7c7c7; } 
ul.gdlr-core-twitter-widget-wrap li:before{ color: #303030; } 
ul.gdlr-core-twitter-widget-wrap li .gdlr-core-twitter-widget-date a, ul.gdlr-core-twitter-widget-wrap li .gdlr-core-twitter-widget-date a:hover{ color: #b5b5b5; } 
.onepagepro-footer-wrapper{ background-color: #282828; } 
.onepagepro-footer-wrapper .onepagepro-widget-title{ color: #ffffff; }.onepagepro-footer-wrapper h1, .onepagepro-footer-wrapper h3, .onepagepro-footer-wrapper h3, .onepagepro-footer-wrapper h4, .onepagepro-footer-wrapper h5, .onepagepro-footer-wrapper h6{ color: #ffffff; }  
.onepagepro-footer-wrapper{ color: #ababab; }.onepagepro-footer-wrapper .widget_recent_entries ul li:before, .onepagepro-footer-wrapper .widget_recent_comments ul li:before, .onepagepro-footer-wrapper .widget_pages ul li:before, .onepagepro-footer-wrapper .widget_rss ul li:before, .onepagepro-footer-wrapper .widget_archive ul li:before, .onepagepro-footer-wrapper .widget_categories ul li:before, .widget_nav_menu ul li:before, .onepagepro-footer-wrapper .widget_meta ul li:before{ color: #ababab; } 
.onepagepro-footer-wrapper a{ color: #bababa; } 
.onepagepro-footer-wrapper a:hover{ color: #ffffff; } 
.onepagepro-footer-wrapper, .onepagepro-footer-wrapper *{ border-color: #494949; } 
.onepagepro-copyright-wrapper{ background-color: #181818; } 
.onepagepro-copyright-wrapper{ color: #838383; } 
.onepagepro-copyright-wrapper a{ color: #838383; } 
.onepagepro-copyright-wrapper a:hover{ color: #838383; } 
.onepagepro-footer-back-to-top-button{ background-color: #dbdbdb; } 
.onepagepro-body .onepagepro-footer-back-to-top-button, .onepagepro-body .onepagepro-footer-back-to-top-button:hover{ color: #313131; } 
.onepagepro-body .onepagepro-blog-title-wrap .onepagepro-single-article-title{ color: #ffffff; } 
.onepagepro-blog-title-wrap .onepagepro-blog-info-wrapper, .onepagepro-blog-title-wrap .onepagepro-blog-info-wrapper a, .onepagepro-blog-title-wrap .onepagepro-blog-info-wrapper a:hover{ color: #ffffff; } 
.onepagepro-blog-title-wrap .onepagepro-blog-info-wrapper i{ color: #ffffff; } 
.onepagepro-blog-title-wrap .onepagepro-blog-title-overlay{ background-color: #000000; } 
.onepagepro-single-author .onepagepro-single-author-title a, .onepagepro-single-author .onepagepro-single-author-title a:hover{ color: #464646; } 
.onepagepro-single-author .onepagepro-single-author-caption{ color: #b1b1b1; } 
.onepagepro-single-nav a, .onepagepro-single-nav a:hover{ color: #bcbcbc; } 
.onepagepro-comments-area .onepagepro-comments-title, .onepagepro-comments-area .comment-author, .onepagepro-comments-area .comment-reply-title{ color: #464646; } 
.onepagepro-comments-area .comment-respond{ background-color: #f9f9f9; } 
.onepagepro-comments-area .comment-reply a, .onepagepro-comments-area .comment-reply a:hover{ color: #bcbcbc; } 
.onepagepro-comments-area .comment-time a, .onepagepro-comments-area .comment-time a:hover{ color: #b1b1b1; } 
.gdlr-core-blog-title a, .onepagepro-body .onepagepro-single-article-title, .onepagepro-body .onepagepro-single-article-title a{ color: #343434; } 
.gdlr-core-blog-title a:hover, .onepagepro-body .onepagepro-single-article-title a:hover{ color: #4863db; } 
.gdlr-core-sticky-banner, .onepagepro-sticky-banner{ color: #444444; } 
.gdlr-core-sticky-banner, .onepagepro-sticky-banner{ background-color: #f3f3f3; } 
.onepagepro-single-article .onepagepro-blog-info-wrapper, .onepagepro-single-article .onepagepro-blog-info-wrapper a, .onepagepro-single-article .onepagepro-blog-info-wrapper a:hover, .gdlr-core-blog-info-wrapper, .gdlr-core-blog-info-wrapper a{ color: #959595; } 
.onepagepro-single-article .onepagepro-blog-info-wrapper i, .gdlr-core-blog-info-wrapper i{ color: #959595; } 
.gdlr-core-blog-date-wrapper .gdlr-core-blog-date-day, .onepagepro-single-article .onepagepro-single-article-date-day{ color: #353535; } 
.gdlr-core-blog-date-wrapper .gdlr-core-blog-date-month, .onepagepro-single-article .onepagepro-single-article-date-month{ color: #8a8a8a; } 
.gdlr-core-blog-grid-frame, .gdlr-core-blog-full-frame, .gdlr-core-blog-list-frame{ background-color: #ffffff; } 
.gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper, .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper a, .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper i, .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-title a{ color: #ffffff; } .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-info-wrapper, .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-info-wrapper a, .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-info-wrapper i, .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-title a{ color: #ffffff; } 
.onepagepro-blog-aside-format .onepagepro-single-article-content, .gdlr-core-blog-aside-format .gdlr-core-blog-content{ background-color: #5549dd; }.onepagepro-blog-quote-format .onepagepro-single-article-content, .gdlr-core-blog-quote-format .gdlr-core-blog-content{ background-color: #5549dd; } 
.onepagepro-blog-aside-format .onepagepro-single-article-content, .gdlr-core-blog-aside-format .gdlr-core-blog-content{ color: #ffffff; }.onepagepro-blog-quote-format .onepagepro-single-article-content blockquote, .onepagepro-blog-quote-format .onepagepro-single-article-content q, .onepagepro-blog-quote-format .onepagepro-single-article-content, .gdlr-core-blog-quote-format .gdlr-core-blog-content blockquote,.gdlr-core-blog-quote-format .gdlr-core-blog-content q,.gdlr-core-blog-quote-format .gdlr-core-blog-content{ color: #ffffff; } 
.gdlr-core-pagination a{ background-color: #eaeaea; } 
.gdlr-core-pagination a{ color: #929292; } 
.gdlr-core-pagination a:hover, .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-pagination span{ background-color: #495fdd; } 
.gdlr-core-pagination a:hover, .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-pagination span{ color: #ffffff; } 
.gdlr-core-pagination.gdlr-core-with-border a{ color: #b4b4b4; border-color: #b4b4b4; }.gdlr-core-pagination.gdlr-core-style-plain a, .gdlr-core-pagination.gdlr-core-style-plain a:before, .gdlr-core-pagination.gdlr-core-style-plain span:before{ color: #b4b4b4; } 
.gdlr-core-pagination.gdlr-core-with-border a:hover, .gdlr-core-pagination.gdlr-core-with-border a.gdlr-core-active, .gdlr-core-pagination.gdlr-core-with-border span{ color: #424242; border-color: #424242; }.gdlr-core-pagination.gdlr-core-style-plain a:hover, .gdlr-core-pagination.gdlr-core-style-plain a.gdlr-core-active, .gdlr-core-pagination.gdlr-core-style-plain span{ color: #424242; } 
.gdlr-core-portfolio-single-nav, .gdlr-core-portfolio-single-nav a, .gdlr-core-portfolio-single-nav a:hover{ color: #bcbcbc; } 
.gdlr-core-portfolio-grid.gdlr-core-style-with-frame .gdlr-core-portfolio-grid-frame{ background-color: #f5f5f5; } 
.gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-title a{ color: #191919; } 
.gdlr-core-port-info-item .gdlr-core-port-info-key, .gdlr-core-port-info2 .gdlr-core-port-info2-key{ color: #343434; } 
.gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info, .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info a, .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info a:hover{ color: #b1b1b1; } 
.gdlr-core-portfolio-badge{ color: #ffffff; } 
.gdlr-core-portfolio-badge{ background-color: #e24a3b; } 
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-icon, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-title a, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-title a:hover{ color: #ffffff; } 
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info a, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info a:hover{ color: #cecece; } 
.gdlr-core-filterer-wrap.gdlr-core-style-text a{ color: #4c4c4c; } 
.gdlr-core-filterer-wrap.gdlr-core-style-text a:hover, .gdlr-core-filterer-wrap.gdlr-core-style-text a.gdlr-core-active{ color: #4863db; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a{ color: #838383; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a{ background-color: #f1f1f1; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a:hover, .gdlr-core-filterer-wrap.gdlr-core-style-button a.gdlr-core-active{ color: #ffffff; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a:hover, .gdlr-core-filterer-wrap.gdlr-core-style-button a.gdlr-core-active{ background-color: #5549dd; } 
.gdlr-core-price-table-item .gdlr-core-price-table{ background-color: #f8f8f8; } 
.gdlr-core-price-table .gdlr-core-price-table-head{ background-color: #3e3e3e; background: -webkit-linear-gradient(#525252, #3e3e3e); background: -o-linear-gradient(#525252, #3e3e3e); background: -moz-linear-gradient(#525252, #3e3e3e); background: linear-gradient(#525252, #3e3e3e); } 
.gdlr-core-price-table .gdlr-core-price-table-icon{ color: #ffffff; } 
.gdlr-core-price-table .gdlr-core-price-table-title{ color: #ffffff; } 
.gdlr-core-price-table .gdlr-core-price-table-caption{ color: #acacac; } 
.gdlr-core-price-table .gdlr-core-price-table-price{ background-color: #ebebeb; } 
.gdlr-core-price-table .gdlr-core-price-table-price-number, .gdlr-core-price-table .gdlr-core-price-prefix{ color: #323232; } 
.gdlr-core-price-table .gdlr-core-price-suffix{ color: #acacac; } 
.gdlr-core-price-table .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ color: #ffffff; } 
.gdlr-core-price-table .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ background-color: #575757; background: -webkit-linear-gradient(#414141, #575757); background: -o-linear-gradient(#414141, #575757); background: -moz-linear-gradient(#414141, #575757); background: linear-gradient(#414141, #575757); } 
.gdlr-core-price-table .gdlr-core-price-table-content *{ border-color: #e5e5e5; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-head{ background-color: #6e3ee8; background: -webkit-linear-gradient(#7d53e8, #6e3ee8); background: -o-linear-gradient(#7d53e8, #6e3ee8); background: -moz-linear-gradient(#7d53e8, #6e3ee8); background: linear-gradient(#7d53e8, #6e3ee8); } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-icon{ color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-title{ color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-caption{ color: #b9a7e8; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-price{ background-color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-price-number, .gdlr-core-price-table .gdlr-core-price-prefix{ color: #323232; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-suffix{ color: #acacac; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ background-color: #7e52e9; background: -webkit-linear-gradient(#524ae2, #7e52e9); background: -o-linear-gradient(#524ae2, #7e52e9); background: -moz-linear-gradient(#524ae2, #7e52e9); background: linear-gradient(#524ae2, #7e52e9); } 
.gdlr-core-accordion-style-icon .gdlr-core-accordion-item-icon, .gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-icon, .gdlr-core-toggle-box-style-icon .gdlr-core-toggle-box-item-icon, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-icon{ color: #191919; } 
.gdlr-core-accordion-style-icon .gdlr-core-accordion-item-title .gdlr-core-head, .gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-title .gdlr-core-head, .gdlr-core-toggle-box-style-icon .gdlr-core-toggle-box-item-title .gdlr-core-head, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-title .gdlr-core-head{ color: #191919; } 
.gdlr-core-accordion-style-icon .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-icon .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-title{ color: #191919; } 
.gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-icon, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-icon{ background-color: #f3f3f3; }.gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-icon, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-icon{ border-color: #f3f3f3; } 
.gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title:before, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-accordion-item-title:before{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-accordion-item-title .gdlr-core-head, .gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title .gdlr-core-head, .gdlr-core-toggle-box-style-background-title .gdlr-core-toggle-box-item-title .gdlr-core-head, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-toggle-box-item-title .gdlr-core-head{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-toggle-box-item-title{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-toggle-box-item-title{ background-color: #f3f3f3; } 
.gdlr-core-accordion-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title:before, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title:before{ color: #ffffff; } 
.gdlr-core-accordion-style-background-title .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-active .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-active .gdlr-core-toggle-box-item-title{ color: #ffffff; } 
.gdlr-core-accordion-style-background-title .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-active .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-active .gdlr-core-toggle-box-item-title{ background-color: #303030; } 
.gdlr-core-audio, .gdlr-core-audio .mejs-container .mejs-controls{ background-color: #e7e7e7; } 
.gdlr-core-audio .mejs-container .mejs-controls .mejs-volume-button:before, .gdlr-core-audio .mejs-container .mejs-controls .mejs-playpause-button:before, .gdlr-core-audio .mejs-container .mejs-controls .mejs-time{ color: #202020; } 
.gdlr-core-audio .mejs-controls .mejs-time-rail .mejs-time-total, .gdlr-core-audio .mejs-controls .mejs-time-rail .mejs-time-loaded{ background-color: #afafaf; } 
.gdlr-core-audio .mejs-controls .mejs-time-rail .mejs-time-current{ background-color: #5549dd; } 
.gdlr-core-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ background-color: #afafaf; } 
.gdlr-core-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ background-color: #646464; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-inner{ background-color: #ef5e68; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-inner{ border-color: #cd515a; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-inner{ color: #ffffff; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-title{ color: #ffffff; } 
blockquote, q{ color: #777777; } 
blockquote, q{ background-color: #f5f5f5; } 
.onepagepro-body blockquote, .onepagepro-body q{ border-color: #e2e2e2; } 
.gdlr-core-blockquote-item-quote{ color: #4e4e4e; } 
.gdlr-core-blockquote-item-content, .gdlr-core-blockquote-item-author{ color: #4e4e4e; } 
.gdlr-core-body .gdlr-core-load-more, .gdlr-core-body .gdlr-core-button, .onepagepro-body .onepagepro-button, .onepagepro-body input[type="button"], .onepagepro-body input[type="submit"]{ color: #ffffff; } 
.gdlr-core-body .gdlr-core-load-more:hover, .gdlr-core-body .gdlr-core-button:hover{ color: #ffffff; } 
.gdlr-core-body .gdlr-core-load-more, .gdlr-core-body .gdlr-core-button, .onepagepro-body .onepagepro-button, .onepagepro-body input[type="button"], .onepagepro-body input[type="submit"]{ background-color: #4863db; } 
.gdlr-core-body .gdlr-core-load-more:hover, .gdlr-core-body .gdlr-core-button:hover{ background-color: #3d58ba; } 
.gdlr-core-body .gdlr-core-button-with-border{ border-color: #383838; } .gdlr-core-body .gdlr-core-button-with-border.gdlr-core-button-transparent{ color: #383838; } 
.gdlr-core-body .gdlr-core-button-with-border:hover{ border-color: #000000; }.gdlr-core-body .gdlr-core-button-with-border.gdlr-core-button-transparent:hover{ color: #000000; } 
.gdlr-core-body .gdlr-core-button.gdlr-core-button-gradient{ background-color: #5549dd; background: -webkit-linear-gradient(#746add, #5549dd); background: -o-linear-gradient(#746add, #5549dd); background: -moz-linear-gradient(#746add, #5549dd); background: linear-gradient(#746add, #5549dd); } 
.gdlr-core-call-to-action-item-title{ color: #2c2c2c; } 
.gdlr-core-call-to-action-item-caption{ color: #535353; } 
.gdlr-core-counter-item-top-text{ color: #828282; } 
.gdlr-core-counter-item-top-icon{ color: #393939; } 
.gdlr-core-counter-item-number{ color: #393939; } 
.gdlr-core-counter-item-divider{ border-color: #393939; } 
.gdlr-core-counter-item-bottom-text{ color: #393939; } 
.gdlr-core-column-service-item .gdlr-core-column-service-icon{ color: #9d9d9d; } 
.gdlr-core-column-service-item .gdlr-core-icon-style-round i{ background-color: #f3f3f3; } 
.gdlr-core-column-service-item .gdlr-core-column-service-title{ color: #383838; } 
.gdlr-core-column-service-item .gdlr-core-column-service-caption{ color: #747474; } 
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-title, .gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-head-wrap{ background-color: #309cea; } 
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-title{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-front, .gdlr-core-flipbox-item .gdlr-core-flipbox-back, .gdlr-core-feature-box-item .gdlr-core-feature-box{ background-color: #2d9bea; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-front, .gdlr-core-flipbox-item .gdlr-core-flipbox-back, .gdlr-core-flipbox-item .gdlr-core-flipbox-frame, .gdlr-core-feature-box-item .gdlr-core-feature-box, .gdlr-core-feature-box-item .gdlr-core-feature-box-frame{ border-color: #2a80be; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-icon, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-icon{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-title, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-title{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-caption, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-caption{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-content, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-content{ color: #ffffff; } 
.gdlr-core-image-overlay.gdlr-core-gallery-image-overlay .gdlr-core-image-overlay-title{ color: #ffffff; } 
.gdlr-core-image-overlay.gdlr-core-gallery-image-overlay .gdlr-core-image-overlay-caption{ color: #cecece; } 
.gdlr-core-image-overlay-content, .gdlr-core-image-overlay-content a, .gdlr-core-image-overlay-icon{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin] .gdlr-core-image-overlay-icon, .gdlr-core-page-builder-body .gdlr-core-pbf-column[data-skin] .gdlr-core-image-overlay-icon{ color: #ffffff; } 
.gdlr-core-body .gdlr-core-image-item-wrap{ border-color: #000000; } 
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-title{ color: #343434; } 
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-caption{ color: #747474; } 
.gdlr-core-block-item-title-wrap a, .gdlr-core-block-item-title-wrap a:hover{ color: #747474; } 
.gdlr-core-icon-list-item i{ color: #222222; } 
.gdlr-core-icon-list-with-background-round .gdlr-core-icon-list-icon-wrap, .gdlr-core-icon-list-with-background-circle .gdlr-core-icon-list-icon-wrap{ color: #f3f3f3; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-day{ color: #a5a5a5; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-open{ color: #5549dd; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-close{ color: #c8c8c8; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-time i{ color: #8a8989; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-list-item{ border-color: #a6a6a6; } 
.gdlr-core-personnel-style-grid .gdlr-core-personnel-list-title, .gdlr-core-personnel-style-grid .gdlr-core-personnel-list-title a{ color: #383838; } 
.gdlr-core-personnel-style-grid .gdlr-core-personnel-list-position{ color: #888888; } 
.gdlr-core-personnel-style-grid .gdlr-core-personnel-list-divider{ color: #cecece; } 
.gdlr-core-personnel-style-grid.gdlr-core-with-background .gdlr-core-personnel-list-content-wrap{ background-color: #f9f9f9; } 
.gdlr-core-personnel-style-modern .gdlr-core-personnel-list-title, .gdlr-core-personnel-style-modern .gdlr-core-personnel-list-title a{ color: #ffffff; } 
.gdlr-core-personnel-style-modern .gdlr-core-personnel-list-position{ color: #ffffff; } 
.gdlr-core-promo-box-item .gdlr-core-promo-box-item-title{ color: #383838; } 
.gdlr-core-promo-box-item .gdlr-core-promo-box-content-wrap{ border-color: #e8e7e7; } 
.gdlr-core-post-slider-item .gdlr-core-post-slider-title a{ color: #ffffff; } 
.gdlr-core-post-slider-item .gdlr-core-blog-info, .gdlr-core-post-slider-item .gdlr-core-blog-info a{ color: #c5c5c5; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-title, .gdlr-core-skill-bar-item .gdlr-core-skill-bar-right{ color: #505050; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-icon{ color: #616161; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-progress{ background-color: #efefef; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-filled{ background-color: #293edb; } 
.gdlr-core-flexslider-nav .flex-direction-nav li a, .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ color: #ffffff; border-color: #ffffff; } 
.gdlr-core-flexslider-nav.gdlr-core-round-style li a, .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a{ background-color: #383838; } 
.gdlr-core-flexslider .flex-control-nav li a{ border-color: #8a8a8a; }.gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #8a8a8a; } 
.gdlr-core-social-share-item a{ color: #202020; } 
.gdlr-core-social-share-item .gdlr-core-divider{ border-color: #e5e5e5; } 
.gdlr-core-social-share-item .gdlr-core-social-share-count{ color: #202020; } 
.gdlr-core-stunning-text-item-caption{ color: #747474; } 
.gdlr-core-stunning-text-item-title{ color: #383838; } 
.gdlr-core-tab-item-title{ color: #8d8d8d; } 
.gdlr-core-tab-style1-horizontal .gdlr-core-tab-item-title, .gdlr-core-tab-style1-vertical .gdlr-core-tab-item-title{ background-color: #f7f7f7; } 
.gdlr-core-tab-item-title-wrap, .gdlr-core-tab-item-content-wrap, .gdlr-core-tab-item-title{ border-color: #ebebeb; } 
.gdlr-core-tab-item-title-line{ border-color: #5549dd; } 
.gdlr-core-tab-item-title.gdlr-core-active{ color: #464646; } 
.gdlr-core-tab-style1-horizontal .gdlr-core-tab-item-title.gdlr-core-active, .gdlr-core-tab-style1-vertical .gdlr-core-tab-item-title.gdlr-core-active{ background-color: #ffffff; } 
table tr th{ background-color: #5549dd; } 
table tr th{ color: #ffffff; } 
table tr:nth-child(odd){ background-color: #f9f9f9; } 
table tr:nth-child(odd){ color: #949494; } 
table tr:nth-child(even){ background-color: #f3f3f3; } 
table tr:nth-child(even){ color: #949494; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-item-title{ color: #232323; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-content{ color: #707070; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-title{ color: #3b3b3b; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-position .gdlr-core-rating i{ color: #ffa127; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-position{ color: #3b3b3b; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-quote{ color: #282828; } 
.gdlr-core-title-item .gdlr-core-title-item-title, .gdlr-core-title-item .gdlr-core-title-item-title a{ color: #383838; } 
.gdlr-core-title-item .gdlr-core-title-item-caption{ color: #747474; } 
.gdlr-core-timeline-item .gdlr-core-timeline-item-date{ color: #393939; } 
.gdlr-core-timeline-item .gdlr-core-timeline-item-bullet{ border-color: #472ada; } 
.gdlr-core-timeline-item .gdlr-core-timeline-item-title{ color: #472ada; } 
.gdlr-core-timeline-item .gdlr-core-timeline-item-caption{ color: #676767; } 
.gdlr-core-timeline-item .gdlr-core-timeline-item-content{ color: #c3c3c3; } 
.woocommerce .star-rating span, .single-product.woocommerce #review_form #respond p.stars a, .single-product.woocommerce div.product .product_meta, .single-product.woocommerce div.product .product_meta a{ color: #bd584e; }.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, html .woocommerce input.button, html .woocommerce span.onsale{ background-color: #bd584e; } 
span.woocommerce-Price-amount.amount{ color: #bd584e; } 
.woocommerce .price del, .gdlr-core-product-price del, del span.woocommerce-Price-amount.amount{ color: #949494; } 
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{ background-color: #d4786e; } 
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{ color: #ffffff; } 
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{ color: #ffffff; } 
.single-product.woocommerce div.product .quantity .qty, #add_payment_method #payment, .woocommerce-checkout #payment, .single-product.woocommerce #reviews #comments ol.commentlist li{ background-color: #f3f3f3; } 
.gdlr-core-product-grid .gdlr-core-product-title a{ color: #191919; } 
.gdlr-core-product-grid .gdlr-core-product-title a:hover{ color: #434343; } 
.gdlr-core-product-thumbnail .gdlr-core-product-view-detail, .gdlr-core-product-thumbnail .gdlr-core-product-view-detail:hover{ color: #ffffff; } 
.gdlr-core-product-thumbnail .gdlr-core-product-view-detail{ background-color: #000000; background-color: rgba(0, 0, 0, 0.9); } 
.gdlr-core-product-thumbnail .added_to_cart, .gdlr-core-product-thumbnail .added_to_cart:hover, .gdlr-core-product-thumbnail .gdlr-core-product-add-to-cart, .gdlr-core-product-thumbnail .gdlr-core-product-add-to-cart:hover{ color: #ffffff; } 
.gdlr-core-product-thumbnail .added_to_cart, .gdlr-core-product-thumbnail .gdlr-core-product-add-to-cart{ background-color: #bd584e; background-color: rgba(189, 88, 78, 0.9); } 
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{ background-color: #e6e6e6; } 
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{ background-color: #824141; } 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{ background-color: #b3564e; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-author-content, .gdlr-core-testimonial-item.gdlr-core-testimonial-style-center .gdlr-core-testimonial-author-content {
    padding-top: 11px;
}
.onepagepro-sidebar-area .onepagepro-widget-title {
    font-size: 16px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0;
}
.onepagepro-sidebar-area .onepagepro-widget-head-divider {
    display: none;
} 
.gdlr-core-page-builder-body [data-skin="Dark"] h1, .gdlr-core-page-builder-body [data-skin="Dark"] h2, .gdlr-core-page-builder-body [data-skin="Dark"] h3, .gdlr-core-page-builder-body [data-skin="Dark"] h4, .gdlr-core-page-builder-body [data-skin="Dark"] h5, .gdlr-core-page-builder-body [data-skin="Dark"] h6, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-title a:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-caption a, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-caption a:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"], .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-content{ color: #cecece }
.gdlr-core-page-builder-body [data-skin="Dark"] i, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="Dark"] .onepagepro-widget ul li:before{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper i{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider-nav.gdlr-core-plain-circle-style li a{ border-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="Dark"] a, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-link{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] a:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-link:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-divider{ border-color: #777777; column-rule-color: #777777; -moz-column-rule-color: #777777; -webkit-column-rule-color: #777777; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #777777 }
.gdlr-core-page-builder-body [data-skin="Dark"] *, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-border{ border-color: #777777 }.gdlr-core-page-builder-body [data-skin="Dark"] input:not([type="button"]):not([type="submit"]):not([type="reset"]){ border-color: #777777; }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-e-content{ color: #3d3d3d }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a i, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a i{ color: #3d3d3d; }.gdlr-core-page-builder-body [data-skin="Dark"] input:not([type="button"]):not([type="submit"]):not([type="reset"]), .gdlr-core-page-builder-body [data-skin="Dark"] textarea{ color: #3d3d3d; }.gdlr-core-page-builder-body [data-skin="Dark"] ::-webkit-input-placeholder{  color: #3d3d3d; }.gdlr-core-page-builder-body [data-skin="Dark"] ::-moz-placeholder{  color: #3d3d3d; }.gdlr-core-page-builder-body [data-skin="Dark"] :-ms-input-placeholder{  color: #3d3d3d; }.gdlr-core-page-builder-body [data-skin="Dark"] :-moz-placeholder{  color: #3d3d3d; }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Dark"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Dark"] input[type="submit"]{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color.gdlr-core-active{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Dark"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="Dark"] input[type="submit"]:hover{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination span{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color{ background-color: #309cea }.gdlr-core-page-builder-body [data-skin="Dark"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Dark"] input[type="submit"]{ background-color: #309cea; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a{ background-color: #309cea }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color.gdlr-core-active{ background-color: #0f82db }.gdlr-core-page-builder-body [data-skin="Dark"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="Dark"] input[type="submit"]:hover{ background-color: #0f82db; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination span{ background-color: #0f82db }
.gdlr-core-page-builder-body [data-skin="White Text"] h1, .gdlr-core-page-builder-body [data-skin="White Text"] h2, .gdlr-core-page-builder-body [data-skin="White Text"] h3, .gdlr-core-page-builder-body [data-skin="White Text"] h4, .gdlr-core-page-builder-body [data-skin="White Text"] h5, .gdlr-core-page-builder-body [data-skin="White Text"] h6, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-caption a, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-caption a:hover{ color: #e5e5e5 }
.gdlr-core-page-builder-body [data-skin="White Text"], .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-content{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] i, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="White Text"] .onepagepro-widget ul li:before{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper i{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-plain-circle-style li a{ border-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="White Text"] a, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-link{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] a:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-link:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-divider{ border-color: #ffffff; column-rule-color: #ffffff; -moz-column-rule-color: #ffffff; -webkit-column-rule-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] *, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-border{ border-color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] input:not([type="button"]):not([type="submit"]):not([type="reset"]){ border-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-e-background{ background-color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider .flex-control-nav li a{ border-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] input:not([type="button"]):not([type="submit"]):not([type="reset"]), .gdlr-core-page-builder-body [data-skin="White Text"] textarea{ background-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-e-content{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a i, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a i{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] input:not([type="button"]):not([type="submit"]):not([type="reset"]), .gdlr-core-page-builder-body [data-skin="White Text"] textarea{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] ::-webkit-input-placeholder{  color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] ::-moz-placeholder{  color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] :-ms-input-placeholder{  color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] :-moz-placeholder{  color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"], .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color.gdlr-core-active{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]:hover{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination span{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color{ background-color: #000000 }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"], .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]{ background-color: #000000; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a{ background-color: #000000 }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color.gdlr-core-active{ background-color: #303030 }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]:hover{ background-color: #303030; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination span{ background-color: #303030 }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color{ border-color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a{ border-color: #ffffff }
button-border-hover-color
.gdlr-core-page-builder-body [data-skin="Grey"] h1, .gdlr-core-page-builder-body [data-skin="Grey"] h2, .gdlr-core-page-builder-body [data-skin="Grey"] h3, .gdlr-core-page-builder-body [data-skin="Grey"] h4, .gdlr-core-page-builder-body [data-skin="Grey"] h5, .gdlr-core-page-builder-body [data-skin="Grey"] h6, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-title a{ color: #4f4f4f }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-caption a, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-caption a:hover{ color: #727272 }
.gdlr-core-page-builder-body [data-skin="Grey"], .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-content{ color: #686868 }
.gdlr-core-page-builder-body [data-skin="Grey"] i, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="Grey"] .onepagepro-widget ul li:before{ color: #595959 }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper i{ color: #595959; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-flexslider-nav.gdlr-core-plain-circle-style li a{ border-color: #595959; }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-divider{ border-color: #cecece; column-rule-color: #cecece; -moz-column-rule-color: #cecece; -webkit-column-rule-color: #cecece; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #cecece }
.gdlr-core-page-builder-body [data-skin="Grey"] *, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-border{ border-color: #cecece }.gdlr-core-page-builder-body [data-skin="Grey"] input:not([type="button"]):not([type="submit"]):not([type="reset"]){ border-color: #cecece; }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-e-background{ background-color: #ffffff }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-flexslider .flex-control-nav li a{ border-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Grey"] input:not([type="button"]):not([type="submit"]):not([type="reset"]), .gdlr-core-page-builder-body [data-skin="Grey"] textarea{ background-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] h1, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] h2, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] h3, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] h4, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] h5, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] h6, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-title a:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-caption a, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-caption a:hover{ color: #dddddd }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"], .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-content{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] i, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .onepagepro-widget ul li:before{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper i{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider-nav.gdlr-core-plain-circle-style li a{ border-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] a, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-link{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] a:hover, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-link:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-divider{ border-color: #b2b2b2; column-rule-color: #b2b2b2; -moz-column-rule-color: #b2b2b2; -webkit-column-rule-color: #b2b2b2; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #b2b2b2 }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] *, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-border{ border-color: #bcbcbc }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] input:not([type="button"]):not([type="submit"]):not([type="reset"]){ border-color: #bcbcbc; }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-e-background{ background-color: #191919 }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a{ background-color: #191919; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider .flex-control-nav li a{ border-color: #191919; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #191919; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] input:not([type="button"]):not([type="submit"]):not([type="reset"]), .gdlr-core-page-builder-body [data-skin="Dark Personnel"] textarea{ background-color: #191919; }
.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-skin-e-content{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a i, .gdlr-core-page-builder-body [data-skin="Dark Personnel"] .gdlr-core-flexslider-nav.gdlr-core-rectangle-style li a i{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] input:not([type="button"]):not([type="submit"]):not([type="reset"]), .gdlr-core-page-builder-body [data-skin="Dark Personnel"] textarea{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] ::-webkit-input-placeholder{  color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] ::-moz-placeholder{  color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] :-ms-input-placeholder{  color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark Personnel"] :-moz-placeholder{  color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="Maintenance"] h1, .gdlr-core-page-builder-body [data-skin="Maintenance"] h2, .gdlr-core-page-builder-body [data-skin="Maintenance"] h3, .gdlr-core-page-builder-body [data-skin="Maintenance"] h4, .gdlr-core-page-builder-body [data-skin="Maintenance"] h5, .gdlr-core-page-builder-body [data-skin="Maintenance"] h6, .gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-caption a, .gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-caption a:hover{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Maintenance"], .gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-content{ color: #d9eef7 }
.gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-divider{ border-color: #74abd2; column-rule-color: #74abd2; -moz-column-rule-color: #74abd2; -webkit-column-rule-color: #74abd2; }.gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #74abd2 }
.gdlr-core-page-builder-body [data-skin="Maintenance"] *, .gdlr-core-page-builder-body [data-skin="Maintenance"] .gdlr-core-skin-border{ border-color: #74abd2 }.gdlr-core-page-builder-body [data-skin="Maintenance"] input:not([type="button"]):not([type="submit"]):not([type="reset"]){ border-color: #74abd2; }
.gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] h1, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] h2, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] h3, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] h4, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] h5, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] h6, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-caption a, .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-caption a:hover{ color: #d6d6d6 }
.gdlr-core-page-builder-body [data-skin="Blue Divider White Text"], .gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-content{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-skin-divider{ border-color: #2d9bea; column-rule-color: #2d9bea; -moz-column-rule-color: #2d9bea; -webkit-column-rule-color: #2d9bea; }.gdlr-core-page-builder-body [data-skin="Blue Divider White Text"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #2d9bea }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button.gdlr-core-button-gradient{ background: -webkit-linear-gradient(#309cea, #0f82db); background: -o-linear-gradient(#309cea, #0f82db);  background: -moz-linear-gradient(#309cea, #0f82db); background: linear-gradient(#309cea, #0f82db); } 
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button.gdlr-core-button-gradient{ background: -webkit-linear-gradient(#000000, #303030); background: -o-linear-gradient(#000000, #303030);  background: -moz-linear-gradient(#000000, #303030); background: linear-gradient(#000000, #303030); } 

.onepagepro-item-mgb, .gdlr-core-item-mgb{ margin-bottom: 40px; }